{% extends "auctions/layout.html" %}

{% block body %}
    <header class="mb-2">
        <h2>Listing: {{ listing.title }}</h2>
    </header>

    {% if not listing.winner %}
        <div class="watchlist mb-2">
            <form action="{% url 'watchlist' %}" method="get">
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                {% if user.is_authenticated and watchlist %}
                    <input type="hidden" name="action" value="remove">
                    <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                {% else %}
                    <input type="hidden" name="action" value="add">
                    <button type="submit" class="btn btn-success">Add to Watchlist</button>
                {% endif %}
            </form>
        </div>
    {% endif %}

    <figure class="listing-img-container mb-2">
        <img class="listing-img rounded" src="{{ listing.image.url }}" alt="Image of {{ listing.title }}">
    </figure>

    <div class="description mb-2">
        <h4>Description:</h4>
        <p>{{ listing.description }}</p>
    </div>

    <div class="bids mb-4">
        <h2>${{ last_bid }}</h2>
        {% if listing.winner %}
            <div class="alert alert-primary" role="alert">
                This auction is closed and <span class="fw-bold">{{ listing.winner.username }}</span> is the winner.
            </div>
        {% elif user == listing.owner %}
            <form action="{% url 'close' %}" method="get">
                <input type="hidden" name="listing_id" value="{{ listing.id }}">
                <input class="btn btn-warning" type="submit" value="Close Auction">
            </form>
        {% else %}
            <small class="mb-2">{{ bids }} bid(s) so far. 
                {% if user.id == listing.bids.last.user_id %}
                    Your bid is the current bid.
                {% endif %}
            </small>
            <form action="{% url 'bid' listing.id %}" method="post">
                {% csrf_token %}
                {{ bid_form }}
                <input class="btn btn-primary" type="submit" value="Place Bid">
            </form>
        {% endif %}
    </div>

    <div class="details mb-2">
        <h4>Details</h4>
        <ul>
            <li><span class="fw-bold">Category:</span> {{ listing.category }}</li>
            <li><span class="fw-bold">Created:</span> {{ listing.creation_date }}</li>
            <li><span class="fw-bold">Listed by:</span> {{ listing.owner }}</li>
        </ul>
    </div>
{% endblock %}