{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="mb-4">Login</h2>

    <form action="{% url 'login' %}" class="mb-2" method="post">
        {% csrf_token %}
        <div class="form-group mb-2">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group mb-2">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input class="btn btn-primary" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

{% endblock %}